div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: cadetblue;
    width: border-box;
    height: 100px;
}
label {
    color: #104110;
    margin-right: 20px;
    margin-left: 190px;
}
input {
 height: 20px;
}
button {
    color: green;
    border-radius: 5px;
    margin-left: 2px;
}
span {
 margin-left: 10px;
    background-color: chartreuse;
}